<div>
    <div class="col-md-6 col-s-12">
        <h3>Temperature Variations (&deg;F)</h3>
        <div class="legend">
            <ul>
                <li><span class="color high"></span>High</li>
                <li><span class="color low"></span>Low</li>
            </ul>
        </div>
        <div class="chart" id="temp-chart"></div>
    </div>
    <div class="col-md-6 col-s-12">
        <h3>Chance of Precipitation</h3>
        <div class="legend">
            <ul>
                <li><span class="color rain"></span>Percentage chance</li>
            </ul>
        </div>        
        <div class="chart" id="precip-chart"></div>
    </div>
</div>